
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
<button mat-raised-button color="accent" classname="block" (click)="get_posts()">Get posts</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
  <label>
    <input matInput placeholder="Favorite food"
           (keyup.enter)="createPost(title)" #title>
  </label>
</mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<div>
<mat-selection-list #post>
  <mat-list-item *ngFor="let post of posts">
    <button mat-button (click)="updatePost(post)">Update</button>
    <button mat-button (click)="deletePost(post)">Delete</button>
    {{post.title}}
  </mat-list-item>
</mat-selection-list>

<p>
  Options selected: {{post.selectedOptions.selected.length}}
</p>
  </div>


